@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@300;400;500;600;800&display=swap');

* {
  padding: 0;
  margin: 0;
	box-sizing: border-box;
}

body {
  font: 300 16px/1/2 "Montserrat", Raleway, verdana, sans-serif;
  color: $font_color;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
}

table {
  border-collapse: collapse;
}

input {
  outline: none;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}