@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@300;400;500;600;800&display=swap');

* {
  padding: 0;
  margin: 0;
	box-sizing: border-box;
}

body {
  font: 400 16px Montserrat, Raleway, verdana, sans-serif;
  color: $font_color;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
}

table {
  border-collapse: collapse;
}

input {
  outline: none;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }

.col {
  &--25 {
    width: calc(25% - 45px);
    flex-shrink: 0;
  }

  &--33 {
    width: calc(33.3% - 20px);
    flex-shrink: 0;
  }
}

.title-30 {
  font-size: 30px;
  font-weight: 600;
  color: $dark;
  text-align: center;
  margin: 0 0 18px;

   &--left {
    @extend .title-30;
    text-align: left;
    }

    &--white {
      @extend .title-30;
      color: $white;
      font-weight: 500;
    }
}

.text {
  color: $light-gray;
  text-align: center;
  max-width: 770px;
  margin: 0 auto 35px;
  line-height: 28px;

  &--white {
    @extend .text;
    color: $white;
    max-width: 570px;
  }

  &--left {
    text-align: left;
    max-width: 670px;
  }
}