$font_color: #8c8c8c;
$activ_color: #C7B299;
$button_color: #998675;
$dark: #555;
$gray: #8b8b8b;
$light_line: #f1eee9;
$brown: #c7b299;
$white: #fff;
$gray_bg: #fbfaf8;
$light-gray: #8c8c8c;
$light: #d1d1d1;
$dark_brown: #362f2d;